*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background: url('image/background.png');
  background-size: cover;
}
#bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
}
#bubbles{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -70px;

}
@keyframes bubble{
  0%{
      transform: translateY(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  70%{
      opacity: 1;
  }
  100%{
      transform: translateY(-80vh);
      opacity: 0;
  }
}
#bubbles img:nth-child(1){
animation-delay: 2s;
width: 30px;
}
#bubbles img:nth-child(2){
animation-delay: 1s;
width: 50px;
  }
#bubbles img:nth-child(3){
animation-delay: 4s;
width: 70px;
}
#bubbles img:nth-child(4){
animation-delay: 3s;
width: 15px;
}
#bubbles img:nth-child(5){
animation-delay: 6s;
width: 40px;
}
#bubbles img:nth-child(6){
animation-delay: 2.5s;
width: 45px;
    }
#bubbles img:nth-child(7){
animation-delay: 7s;
width: 80px;
}
#container{
 position: absolute;
 top: 0;
  flex-wrap: wrap;
    list-style-type: none;
background-color: #f1f1f1;
width: 100%;
height: 70px;
border-bottom: 2px solid black;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
#logo{
  position: absolute;
  right: 1206px;
z-index: 1;
}
#container li a{
    text-decoration: none;
    font-size: 2rem;
    color: #9C837A;
    display: block;
   text-align: center;
    height: 70px;
 padding-top: 10px;
 box-sizing: border-box;
 width: 150px;

}
#container li a:hover{
  background: #00374c;
  color: #fff;

}
#sub-menu li{
 box-sizing: border-box;
 padding: 0px;
  font-size: 2rem;
  text-align: center;
  border: 1px solid yellowgreen;
}
#sub-menu{
height: 250px;
width: 150px;
list-style-type: none;
background-color: black;
color: azure;
opacity: 0;
transform: scaleY(0);
transform-origin: top;
transition: all 0.3s;
}
#openSub_menu:hover #sub-menu{
    transform: scaleY(1);
    opacity: 1;
}

@media(max-width: 600px) {
body{
    background-color: brown;
  }
  img{
    width: 50px;
    height: 30px;
  }
  #logo{
    position: absolute;
    right: 400px;
  }
  #container{
height: 30px;
float: right;
}
#container li a{
 font-size: 1rem;
  height: 30px;
padding-top: 2px;
width: 60px;
}
#sub-menu li{
font-size: 1rem;
  }
 #sub-menu{
  height: 130px;
  width: 65px;
}
}

